header {
    background-color: #232323;
    box-shadow: 0 2px 3px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
}

header nav {
    margin-left: -60px;
}