header {
    background-color: #232323;
    box-shadow: 0 2px 3px #232323;
    position: fixed;
    width: 100%;
    z-index: 99999999;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
}

header .container nav {
    margin-left: -60px;
}

header .container .shopping-cart {
    font-size: 1.3rem;
}