header {
    background-color: #232323;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
}

header .container nav {
    margin-left: -60px;
}

header .container .shopping-cart {
    font-size: 1.3rem;
}