header {
    background-color: #232323;
    box-shadow: 0 2px 3px #232323;
    position: fixed;
    width: 100%;
    z-index: 199;
}

header .container {
    color: #ccc;
}

header .container nav {
    margin-left: -60px;
}

header .container .shopping-cart {
    font-size: 1.3rem;
}

header .Auth {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}
header .Auth a, header .Auth button {
    color: #ccc;
    letter-spacing: 2px;
    margin-left: 20px;
    font-size: .8rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
header .Auth button {
    margin: 0;
}