.SideDrawer {
    position: fixed;
    width: 280px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #232323;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ccc;
}
.AuthSidebar {
    border-top: 1px solid #ccc;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.AuthSidebar a {
    color: #ccc;
    letter-spacing: 2px;
}

@media (min-width: 768px) {
    .SideDrawer {
        display: none;
    }
}

.SideDrawer.Open {
    transform: translateX(0);
}

.SideDrawer.Close {
    transform: translateX(-100%);
}

.SideDrawer a {
    color: #ccc!important;
}
.SideDrawer a:active,
.SideDrawer a:hover {
    color: #848484!important;
}