.Product {
    border: 1px solid transparent;
    transition: all .3s ease;
}
.Product:hover {
    border-color: #ccc;
    box-shadow: 0 2px 3px #ccc;
}
.Product img {
    width: 100%;
}
.Product h5 a {
    letter-spacing: 2px;
    color: #232323;
    text-decoration: none;
}
.Product p {
    text-align: center;
    margin-top: .5rem;
}