.SideDrawer {
    position: fixed;
    width: 400px;
    height: 100%;
    z-index: 200;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .SideDrawer {
        width: 80%;
    }
}

.SideDrawer.Light {
    background-color: #fff;
    color: #232323;
}
.SideDrawer.Dark {
    background-color: #232323;
    color: #ccc;
}

.SideDrawer.Right {
    top: 0;
    left: 100%;
}
.SideDrawer.Open.Right {
    transform: translateX(-100%);
}
.SideDrawer.Close.Right {
    transform: translateX(0);
}

.SideDrawer.Left {
    top: 0;
    left: 0;
}
.SideDrawer.Open.Left {
    transform: translateX(0);
}
.SideDrawer.Close.Left {
    transform: translateX(-100%);
}

/* Menu Mobile */
.AuthSidebar {
    border-top: 1px solid #ccc;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.AuthSidebar a {
    color: #ccc;
    letter-spacing: 2px;
}
.SideDrawer a {
    color: #ccc!important;
}
.SideDrawer a:active,
.SideDrawer a:hover {
    color: #848484!important;
}

/* Shopping Cart */
.CartElement:not(:last-of-type) {
    margin-bottom: 2rem;
}
.sideDrawerHeader {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5rem;
    color: #232323;
    letter-spacing: 2px;
    font-weight: bold;
}
.noProducts {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.CartElement h5 a {
    color: #232323!important;
    letter-spacing: 2px;
}
.CartElement p {
    margin: .5rem 0;
    font-weight: bold;
}
.CartElement span {
    font-size: .8rem;
    font-weight: bold;
}
.cartProductSettings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.cartProductSettings .QuantitySelection input {
    width: 20px;
    padding: .5rem;
}
.cartProductSettings .removeButton {
    border: none;
    border-bottom: 1px solid #232323;
    padding: auto 0;
    outline: none;
    cursor: pointer;
    color: #232323;
    background-color: transparent;
    letter-spacing: 1px;
    font-size: .7rem;
    font-weight: bold;
    transition: all .2s ease;
    padding: 0;
}
.cartProductSettings .removeButton:hover {
    border-bottom-color: transparent;
}