.CollapsableBlock {
    padding: 1rem 0;
    cursor: pointer;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 0;
    overflow: hidden;
}
.CollapsableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CollapsableHeader h4 {
    font-weight: normal;
    letter-spacing: 1px;
}

@keyframes collapseToggle {
    0% {
        opacity: 0;
        max-height: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        max-height: 3000px;
    }
}
.CollapsableContent {
    animation: collapseToggle 3s ease 0s 1 normal backwards;
}