ul.navbar-menu-horizontal, ul.navbar-menu-vertical {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu-horizontal li {
    text-align: center;
    display: inline-block;
    margin: 20px;
}
.navbar-menu-vertical li {
    margin: 1rem 0;
}

ul.navbar-menu-vertical a, ul.navbar-menu-horizontal a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: all .3s ease;
    padding-bottom: 5px;
}

ul.navbar-menu-horizontal a {
    color: #ccc;
}

ul.navbar-menu-vertical a {
    color: #6a6a6a;
}

ul.navbar-menu-horizontal a:hover,
ul.navbar-menu-horizontal a:active {
    color: #848484;
    border-bottom: 2px solid #ccc;
}
ul.navbar-menu-horizontal a.active {
    border-bottom: 2px solid #ccc;
}

ul.navbar-menu-vertical a:hover,
ul.navbar-menu-vertical a:active {
    color: #232323;
}