body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #232323;
}
main {
  padding-top: 85px;
}
.container {
  padding: 0 5rem;
  max-width: 1440px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.noProducts {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 5rem 0;
}
.error {
  color: #FDA49A;
  text-align: center;
}
a {
  text-decoration: none;
}

.pt-1 {
  padding-top: 1rem!important;
}
.m-0 {
  margin: 0!important;
}
.mt-1 {
  margin-top: 1rem!important;
}
.mt-2 {
  margin-top: 2rem!important;
}
.mt-3 {
  margin-top: 3rem!important;
}
.mb-0 {
  margin-bottom: 0!important;
}
.mb-1 {
  margin-bottom: 1rem!important;
}
.mb-2 {
  margin-bottom: 2rem!important;
}

.text-center {
  text-align: center!important;
}
.text-secondary {
  color: #848484;
  font-size: .9rem;
}
.link {
  text-decoration: none;
  color: #232323;
}

.flex-column {
  flex-direction: column;
} 
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}
.d-block {
  display: block!important;
}
.d-flex {
  display: flex;
} 



/***********
+
Grid
+
***********/



@media (min-width: 1260px) {
  .col-xl-4 {
    width: 33.33%!important;
  }
}
@media (max-width: 768px) {
  .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
    width: 100%!important;
  }
  .col-sm-4 {
    width: 33.33%!important;
  }
  .col-sm-8 {
    width: 66.66%!important;
  }
  .Feature {
    margin-top: 0!important;
  }
  .DesktopOnly {
    display: none!important;
  }
  main {
    padding-top: 60px;
  }
}
@media (min-width: 768px) {
  .MobileOnly {
      display: none!important;
  }
}
@media (max-width: 540px) {
  .container {
    padding: 0 .5rem;
  }
}
@media (max-width: 340px) {
  .btn {
      display: block;
  }
}



/***********
+
Grid
+
***********/



.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-12, .col-xl-4, .col-sm-4, .col-sm-8 {
  padding: 0 1rem;
  box-sizing: border-box;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-12 {
  width: 100%;
}



/***********
+
UI Elements
+
***********/



.btn {
  text-decoration: none;
  padding: .8rem .9rem;
  font-size: .7rem;
  font-weight: bold;
  transition: all .2s ease;
  box-sizing: border-box;
  letter-spacing: 1.5px;
  cursor: pointer;
  outline: none;
}
.btn-light {
  border: 2px solid #ccc;
  color: #232323;
  background-color: #ccc;
}
.btn-light:hover,
.btn-light:active {
  color: #ccc;
  background-color: transparent;
}
.btn-dark {
  border: 2px solid #232323;
  color: #fff;
  background-color: #232323;
}
.btn-dark:hover,
.btn-dark:active {
  color: #232323;
  background-color: transparent;
}
.btn-dark[disabled] {
  background-color: #858282!important;
  border-color: #858282;
  cursor: not-allowed;
}
.btn-dark[disabled]:hover {
  color: #fff;
}
.btn-transparent-light {
  background-color: transparent;
  color: #848484;
  border: none;
  letter-spacing: 2px;
}

.line {
  width: 5%;
  height: 1px;
  background-color: #232323;
  margin: auto;
}