body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #232323;
}
.container {
  padding: 0 5rem;
  max-width: 1440px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.pt-1 {
  padding-top: 1rem!important;
}
.m-0 {
  margin: 0!important;
}
.mt-1 {
  margin-top: 1rem!important;
}
.mt-3 {
  margin-top: 3rem!important;
}
.mb-2 {
  margin-bottom: 2rem!important;
}

.text-center {
  text-align: center!important;
}
.text-secondary {
  color: #848484;
  font-size: .9rem;
}
.link {
  text-decoration: none;
  color: #232323;
}

.d-flex {
  display: flex;
} 
.flex-column {
  flex-direction: column;
} 
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}



/***********
+
Grid
+
***********/



@media (max-width: 768px) {
  .col-2, .col-3 {
    width: 100%!important;
  }
  .Feature {
    margin-top: 0!important;
  }
}



/***********
+
Grid
+
***********/



.col-2, .col-3, .col-12 {
  padding: 0 1rem;
  box-sizing: border-box;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 33.33%;
}
.col-12 {
  width: 100%;
}



/***********
+
UI Elements
+
***********/



.btn {
  text-decoration: none;
  padding: .8rem .9rem;
  font-size: .7rem;
  font-weight: bold;
  transition: all .2s ease;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}
.btn-light {
  border: 2px solid #ccc;
  color: #232323;
  background-color: #ccc;
}
.btn-light:hover,
.btn-light:active {
  color: #ccc;
  background-color: transparent;
}
.btn-dark {
  border: 2px solid #232323;
  color: #ccc;
  background-color: #232323;
}
.btn-dark:hover,
.btn-dark:active {
  color: #232323;
  background-color: transparent;
}

.line {
  width: 5%;
  height: 1px;
  background-color: #232323;
  margin: auto;
}